.header {
    background-color: rgb(226, 50, 56);
    background-color: rgba(226, 50, 56, 0.5);
}

    .header .logo {
        margin: 30px 0 0 10px;
    }

.sidebar {
    top: 150px;
}

.toc {
    top: 140px;
    background: #efefef;
}

.content-container {
    padding-top: 140px;
}